@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
    text-decoration: none;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: block;
    background: radial-gradient(circle, rgba(55,55,55,1) 0%, rgba(163,157,150,1) 50%, rgba(69,70,71,1) 100%);
}
.nav-header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:70px;
    padding:2px;
    background-color: black;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid black;
    box-shadow: 1px 1px rgba(255, 255, 255, 0.562);
    
}
.nav-img{
    background-color: white;
    padding: 10px;
}
.nav-img:hover{
    cursor: pointer;
    transform:scale(1.1);
}
.nav-item{
    text-decoration: double;
    height: 400;
    border-left: 0.4px solid white;
    border-right: 0.4px solid white;
    padding:10px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
}
.nav-item:hover{
    background-color: white;
    color: black;
}
.conteudo-principal{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    color: white;
    border-radius: 2px 2px 2px 2px;
    border-bottom: 0.4px solid black;
    border-top: 0.4px solid black;
    margin-right:20px;
    margin-left: 20px;
}
.conteudo-principal-texto{
    max-width: 800px;
}
.conteudo-img{
    height:300px;
    width:30%;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 1px 1px black;
}
.conteudo-titulo{
    font-size: 35px;
    color: white;
}
.conteudo-paragrafo{
    font-size: 20px;
}
.conteudo-secundario-titulo{
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid black;   
}
.conteudo-secundario-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
    background-color: black;
    color: white;
    padding:25px;
    border-radius: 2px 2px 2px 2px;
    margin-right:20px;
    margin-left: 20px;
}
.conteudo-secundario-form-texto{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 2px 2px 2px 2px;
}
.conteudo-secundario-botoes{
    display: flex;
    justify-content: space-around;
}
input{
    padding:5px;
    border-radius: 2px 2px 2px;
}
input[type="reset"]:hover{
    cursor: pointer;
    background: rgba(18,10,143,1);
    transform:scale(1.1);
}
input[type="submit"]:hover{
    cursor: pointer;
    background:rgba(18,10,143,1);
    transform:scale(1.1);
}
.conteudo-principal-botao{
    border-radius: 2px 2px 2px;
    margin-top:5px;
    padding:8px;
    text-transform: uppercase;
}
.conteudo-principal-botao:hover{
    cursor: pointer;
    transform:scale(1.1);
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-conteudo{
    display:flex;
    justify-content:left;
    align-items:flex-start;
}